#header{
    width: 200px;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    padding-right: 10px;
}

input[type='number']{
  display: inline-block;
  float: left;
  width: 50px;
}

input[type='checkbox']{
  display: inline-block;
  float: left;
}

div.field>div {
    outline: 1px solid;
    background-color: lightgreen;
    float: left;
    align-items: center;
    justify-content: center;
    display: flex;
}

div.field>div::after {
    content: attr( number );
}

.selected {
    background-color: red !important;
}

.found {
    background-color: orange !important;
}

